[Unit]
Description=Run HomeLab Sentinel Service Discovery periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true
Unit=homelab-sentinel-service-discovery.service

[Install]
WantedBy=timers.target
