[Unit]
Description=Run HomeLab Sentinel Service Discovery periodically

[Timer]
OnBootSec=20min
OnUnitInactiveSec=6h
AccuracySec=5min
Persistent=true
Unit=homelab-sentinel-service-discovery.service

[Install]
WantedBy=timers.target
