#########################################
# HomeLab Sentinel
#########################################

TZ=Europe/Lisbon

PUID=1000
PGID=1000

NETWORK_NAME=homelab-network

DATA_ROOT=/srv/homelab-sentinel

# Dashboard Module
HOMEPAGE_PORT=3000
